# LLM Model - Get key at https://platform.openai.com/api-keys
OPENAI_API_KEY=your-api-key

# LangSmith - Get key at https://smith.langchain.com
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your-api-key
LANGCHAIN_PROJECT=your-project-name

# Pinecone Vector Database - Get key at https://app.pinecone.io
PINECONE_INDEX_NAME=your-project-index
PINECONE_API_HOST=your-host-url
PINECONE_API_KEY=your-api-key

# Cohere - Get key at https://dashboard.cohere.com/api-keys
COHERE_API_KEY=your-api-key